form input,form select{
    width: 100%;
    border: 1px solid #eee;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    height: 40px;
}
form input[type=submit]{
    cursor: pointer;
    background-color: #999;
}
